vcstool
colcon-common-extensions
cmake
catkin_pkg
cryptography
EmPy
ifcfg
lark-parser
lxml
numpy
pyparsing
pyyaml
pytest
pytest-mock
coverage
mock
flake8
flake8-blind-except
flake8-builtins
flake8-class-newline
flake8-comprehensions
flake8-deprecated
flake8-docstrings
flake8-import-order
flake8-quotes
mypy
pep8 
pydocstyle
pyqt5
pyqt-builder
defusedxml
rospkg
rosinstall-generator
netifaces
opencv-python
nose
